[submodule "HelloVisual/MakeCode/HelloMCA"]
	path = HelloVisual/MakeCode/HelloMCA
	url = https://github.com/TRSandwich/MCAHelloWorld
[submodule "HelloLetters/HelloWorldCS"]
	path = HelloLetters/HelloWorldCS
	url = https://github.com/PlasmaGame/HelloWorldCS
[submodule "HelloLetters/HelloWorldVB"]
	path = HelloLetters/HelloWorldVB
	url = https://github.com/PlasmaGame/HelloWorldVB
[submodule "HelloLetters/HelloWorldFS/HelloWorldFS"]
	path = HelloLetters/HelloWorldFS/HelloWorldFS
	url = https://github.com/PlasmaGame/HelloWorldFS
[submodule "HelloLetters/HelloWorldFS/HelloWorldFSRunner"]
	path = HelloLetters/HelloWorldFS/HelloWorldFSRunner
	url = https://github.com/PlasmaGame/HelloWorldFSRunner
[submodule "HelloWorldWPF"]
	path = HelloWorldWPF
	url = https://github.com/TRSandwich/HelloWorldWPF/
