[submodule "HelloVisual/MakeCode/HelloMCA"]
	path = HelloVisual/MakeCode/HelloMCA
	url = https://github.com/TRSandwich/MCAHelloWorld
[submodule "HelloLetters/HelloWorldCS"]
	path = HelloLetters/HelloWorldCS
	url = https://github.com/PlasmaGame/HelloWorldCS
[submodule "HelloLetters/HelloWorldVB"]
	path = HelloLetters/HelloWorldVB
	url = https://github.com/PlasmaGame/HelloWorldVB
